.THIS {
    background-color: white;
    text-align: center;
    padding: 0.5rem;
}

.THIS h1 {
    padding-bottom: 0.7rem;
    font-size: 1.65rem;
}

.THIS .slide {
    margin-bottom: 1.0rem;
}

.THIS .slds-box {
    margin: 0.5rem;
    min-height: 70px;
}

.THIS .red {
    background-image: linear-gradient(#550000, #ff0000, #550000);
}

.THIS .selected {
    -moz-box-shadow: inset 0 0 0 4px #0090ff;
    -webkit-box-shadow: inset 0 0 0 4px #0090ff;
    box-shadow: inset 0 0 0 4px #0090ff;
    
}
.THIS .blue {
    background-image: linear-gradient(#000055, #0000ff, #000055);
}

.THIS .green {
    background-image: linear-gradient(#005500, #00aa00, #005500);
}

.THIS .purple {
    background-image: linear-gradient(#4b0082, #8a2be2, #4b0082);
}

.THIS .teal {
    background-image: linear-gradient(#004d4d, #00b3b3, #004d4d);
}

.THIS .brown {
    background-image: linear-gradient(#5d2a00, #e0d3a7, #5d2a00);
}